body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ380-J-XO0rOdkguvtrnGHOlBl-QclqLskpA&s); /* Replace with your background image URL */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.main {
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px; /* Adjust the width as needed */
}

h1 {
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #4c63af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}